<!DOCTYPE html>
<html lang="en">
<!-- Template of the project partly borrowed from https://github.com/mikhail-cct/CA1-In-class-Demo --> 
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Russian Roulette</title>

  <!-- Links to bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/playList.css" rel="stylesheet">
  <script src="js/playList.js"></script>
</head>

<body>

  <!-- Top of the screen navigation header-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">YouTube Playlist</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Main page container that holds multiple containers for table, forms and buttons -->
  
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">Welcome to Russian Roulette</h1>
        <p class="lead">Good luck!</p>
        </div>
        <!--container for the form that will allow to add or delete or update records in the xml file-->
          <div class="col-lg-4 text-center order-2">
          <div class="tab">
            <button class="btn btn-block btn-danger" style="background-color: #d3d3d3; border-color: #d3d3d3;" onclick="opentab(event, 'add')" id="defaultOpen"><b>Add record</b></button>
            <button class="btn btn-block btn-danger" style="background-color: #d3d3d3; border-color: #d3d3d3; margin-bottom: 10px;" onclick="opentab(event, 'upd')"> <b>Update record</b></button>
            </div>
             <div id="add" class="tabcontent">
             
            <form enctype="application/json" action="/post/json" method="post" style="margin-bottom: 10px;">
                <div class="form-group">
                    <input class="form-control" type="text" name="Channel" placeholder="Channel">
                </div>
                <div class="form-group">
                    <input class="form-control" type="date" name="PublishedDate" placeholder="Published Date">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="Title" placeholder="Title">
                </div>
                <div class="form-group">
                    <input class="form-control" type="url" name="URL" placeholder="URL">
                </div>
                <button type="submit" class="btn btn-block btn-danger" style="background-color: #4CAF50; border-color: #4CAF50;">Submit</button>
            </form>
        </div>
        <!------------------Update record tab----------------->
        <div id="upd" class="tabcontent">
                <form enctype="application/json" action="/post/edit" method="post" style="margin-bottom: 10px;">
                    <div class="form-group">
                        <input class="form-control" type="text" name="Channel" placeholder="Channel">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="date" name="PublishedDate" placeholder="Published Date">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="Title" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="url" name="URL" placeholder="URL">
                    </div>
                     <div class="form-group">
						<input id="elementID" class="form-control" type="hidden" name="element" value="" >
					</div>
                    <button type="submit" class="btn btn-block btn-danger" style="background-color: #4B0082; border-color: #4CAF50;">Update</button>
                </form>
            </div>
            <button id="delete" class="btn btn-block btn-danger">Delete</button>
            <p class="text-muted" style="font-weight: bold;">To delete an entree, click the required row first</p>
        </div>
        <!--container for the table, that will be filled from the xml file-->
        <div id="results" class="col-lg-8"></div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="jquery/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="jquery/table.js"></script>


</body>

</html>
